services:
  litellm-proxy:
    build: .
    ports:
      - "${PORT:-4000}:4000"
    entrypoint: ["/bin/bash", "/app/entrypoint.sh"]
    volumes:
      - ./src:/app/src
      - ./.env:/app/.env
      - ./entrypoint.sh:/app/entrypoint.sh
      - ./node:/app/node
    env_file:
      - .env
    restart: unless-stopped
